h1 {
    text-align: center;
}

main {
    padding: 1rem 0 1rem 0;
    gap: 1rem;

    img {
        height: 15rem;
    }

    a:hover {
        filter: brightness(120%);
    }
}

section, article {
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 85vw;
    max-width: 50rem;

    figure {
        display: flex;
        align-self: center;
        align-items: center;
    
        img {
            max-height: 12rem;
            max-width: 25rem;
            height: auto;
        }
    }
}

section ul, article ul {
    margin-left: 2rem;
    list-style: circle;
}

/* Line separators */
hr {
    color:#ED69CE;
    border: 0.1rem solid;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    width: 85vw;
    max-width: 50rem;
}

/* Extra Text */
figcaption, time {
    font-family: "Roboto Mono";
    font-size: 0.9rem;
    text-align: center;
    z-index: 1;
}

time {
    text-align: left;
    margin: 0rem 0rem 0.2rem 0rem;
}